/* CSS! */

body {
    font-family: sans-serif;
    background-image: url("IehB7.png");
}

/* start nav bar */
nav ul {
    width: 90%;
    display: table;
    margin: 1em auto;
    padding:0;
}

nav a {
    text-decoration: none;
}

nav li {
    display: table-cell;
    width: 10%;
    text-align: center;
}

/*
@media (max-width:406px) {
    nav li {
        width:0;
    }
}
*/

nav li a {
    display: block;
    padding: 0.5em 0;
    background-color: gainsboro;
}

/* end nav bar */

/* main element */

main {
    position: absolute;
    width: 65%;
    left: 5%;
    top: 65px;
    bottom: 100px;
    background-color: white;
    border-radius: 3px;
    padding: 5px;
}

/* end main */

/* sidebar */

rightbar {
    position: absolute;
    width: 20%;
    right: 5%;
    top:65px;
    bottom: 100px;
    background-color: LightGray;
    border-radius: 3px;
    padding: 5px;
}

rightbar p {
    color: white;
}

/* end sidebar */

/* footer */

footer {
    position: absolute;
    bottom: 2%;
    left: 5%;
    margin: auto;
    width: 90%;
    text-align: center;
    background-color: LightGray;
    border-radius:3px;
}
