body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* messing with footer stuff
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;=
  height: 20px;
  background-color: gray;
}
*/

.navbar {
  margin-bottom: 20px;
}

.availability {
  display: inline-block;
  width: 100%;
  /* height: 100px;
  margin: 1em; */
}

@media (max-width: 768px) {
  .availability {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .availability .btn-group {
    width: 70%;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  #requestList .btn {
    width: 100%;
    font-size: 1.8vw;
  }
}

#schedule .row {
  text-align: center;
  vertical-align: middle;
}

#schedule .col-xs-6 {
  padding-top: 4px;
  padding-bottom: 4px;
}

#schedule .disabled {
  color: black;
  background-color:transparent;
}

#schedule .disabled:focus {
  outline: none;
}

#availabilityList .btn {
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
}

#pendingList .btn {
  margin-left: 4px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}