body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.box {
  display: inline-block;
  width: 40%;
  /* height: 100px;
  margin: 1em; */
}

.width-100p {
  width: 50%;
}

